nav
  include ./public/logotype.svg
  .nav-icons
    .visit-artsy.is-desktop-header-icon
      p visit artsy.net
    .header-language-toggle
        p.header-chinese 繁
        p.header-chinese 體
div.header-text
  h1= copy.header.headline[language]
  h1= copy.header.subHeadline[language]
.section-nav.is-desktop-header
  for link in copy.header.navLinks[language]
    p= link
