header.header
  nav
    include ./public/logotype.svg
    .header-language-toggle
      div.header-chinese 1
      div.header-chinese 2
  div.header-text
    h1 Artsy 致力成為一個重點網上平台，讓人只需透過互聯網，即可飽覽全球藝術品。
    h1 我們視 Artsy 為資源，讓人能在此學習藝術，探索藝術，收藏藝術，取之不盡，用之不竭。