include ../nav/index

.header-content
  .header-text
    p= copy.header.headline[language]
    p= copy.header.subHeadline[language]

  nav.header-section-nav
    for link in Object.keys(copy.header.navLinks[language])
      a( data-section='#{link}' )
        = copy.header.navLinks[language][link]
