include ../nav/index

.slide-show-container
  .header-slide.slide-1
  .header-slide.slide-2
  .header-slide.slide-3.active-banner
.header-content
  .header-content-inner
    .header-text
      p= copy.header.headline[language]
      p= copy.header.subHeadline[language]

      nav.header-section-nav
        for link in Object.keys(copy.header.navLinks[language])
          a( data-section='#{link}' )
            = copy.header.navLinks[language][link]
