header.header
  nav
    include ./public/logotype.svg
    .header-language-toggle
      div.header-chinese 1
      div.header-chinese 2
  div.header-text
    h1 Artsy ... <br> Filler ...
    h1 Lorem ipsum dolor sit amet, falli impetus iracundia an sed.