@media (min-device-width 1200px)
  .main-side-margin
    margin 0 170px

  #section1.body-section-content
    display flex
    -webkit-flex-direction row
    flex-direction row

  .body-section-content
    display flex
    flex-direction row-reverse
    margin-top 140px

  .carousel-track__image
    // border-top 1px solid gray-color
    width 50%
    // padding-top 40px
    height 400px
    position relative

  figure.slide-images
    display none
    width 100%
    position absolute
    z-index 8
    margin 0px

  figure.slide-images img
    width 530px
    height 354px

  .carousel-track__image .slideshow-is-active
    display block
    z-index 10
    figcaption
      font-size 20px

  .body-section-content h1.is-desktop
    display block
    padding-top 40px
    padding-bottom 30px
    text-align center
    font-size 26px
    font-weight bolder

  .body-section-content p
    font-size 24px
    font-weight 100
    line-height 1.5

  .is-mobile
    display none

  .section-one
    margin-top 100px

  .body-section-title
  // #section1
  .body-section-content
    border-top-style none

  .columns
  .section1-text
  .section-three-image-container
    padding-left 35px
    width 50%
  .section-two-text
  .carousel-track__image
  p.section-three-text
    padding-right 35px
    width 50%

  .columns p
    font-size: 17px;

  .small-rectangle
    height 210px

  .vertical-rectangle
    height 280px
  .column-one
    margin-right 10px
  .column-two
    margin-top 100px
    margin-left 10px
