@media (min-width 1200px)
  .main-side-margin
    margin 0 170px

  .body-content-container
    padding-top 0px

  section
    margin-top 250px

  .body-section-content
    display flex
    flex-direction row
    font-size 22px
    border-top-style none
    padding-top 0px
    margin-bottom 0px
    .body-img
      width 100%
      margin-top 0px
      height 54vw
      background-size contain
      background-position top center
      background-repeat no-repeat
      max-height 400px

  .flex-row__reverse
    flex-direction row-reverse

  .body-section-content__section-two
    display flex
    flex-direction row-reverse

  .body-section-title.is-desktop
    display block
    padding-top 0px
    padding-bottom 30px
    text-align center
    font-size 24px
    font-weight bolder
    &:after
      content ''
      display block
      width 50px
      margin 20px auto 0 auto
      border-bottom 2px solid black

  .is-mobile
    display none

  .body-section-title, .body-section-content__section-two
    border-top-style none

  .left-gutter-formatter
    padding-left 35px
    width 50%

  .right-gutter-formatter
    padding-right 35px
    width 50%

  .columns
    -webkit-columns 2
    -moz-columns: 2
    columns: 2
    margin-bottom 0px
    padding-top 0px

  .small-rectangle
    height 210px

  .vertical-rectangle
    height 280px

  .column
    margin 0 5px

  .staggered
    padding-top 150px
    .artist-container:first-child
      margin-top 40px
    .artist-text:last-child
      margin-bottom 0

  .artist-text
    margin-bottom 40px

  .section-two-text-container
    position relative
    top 50%
    transform translateY(80%)

  .section-two-text-container > p
    font-size 22px

  .top-margin
    margin-top 0px
