@media (min-device-width 1200px)
  .main-side-margin
    margin 0 170px

  .body-content-container
    padding-top 0px

  .flex-row
    display flex
    flex-direction row

  .flex-row__reverse
    flex-direction row-reverse

  .body-section-content img
    max-height 400px

  .body-section-content h1.is-desktop
    display block
    padding-top 0px
    padding-bottom 30px
    text-align center
    font-size 24px
    font-weight bolder

  .body-section-content p
    font-size 22px
    font-weight 100
    line-height 1.5

  .is-mobile
    display none

  .top-margin
    margin-top 200px

  .body-section-title
  .body-section-content
    border-top-style none

  #genome img
  .left-gutter-formatter
    padding-left 35px
    width 50%

  #collecting img
  .right-gutter-formatter
    padding-right 35px
    width 50%

  .body-section-content.remove-bottom-margin
  .body-section-content img
  .columns
    margin-bottom 0px

  .columns p
    font-size: 17px;

  .small-rectangle
    height 210px

  .vertical-rectangle
    height 280px

  .column
    margin 0 5px

  .staggered
    padding-top 150px

  .section-two-text-container
    position relative
    top 50%
    transform translateY(130%)

  #partnership-header.is-desktop
    display block
    border-bottom-style none
    font-size 24px
    text-align center
    font-weight bolder

