@import '../stylus_lib'

.body-content-container
  padding-top 20px

.main-side-margin
  margin 0 20px

.body-section-title
  border-top 1px solid gray-color
  padding-top 20px
  padding-bottom 20px
  avant-garde('l-headline', true)
  font-size 17px

.last-border
  border-bottom 1px solid gray-color
  padding-bottom 20px

.body-section-one-content img, .body-section-three-content img, .body-section-four-content img
  width 100%
  margin-bottom 15px
  border-top 1px solid gray-color
  padding-top 40px

.body-section-one-content
  margin-bottom 60px
  line-height 1.5
  display none
  avant-garde('m-headline', true)
  font-size 15px

.vertical-rectangle
  width 100%
  height 205px

.small-rectangle
  width 100%
  height 135px

.body-section-two-content
  border-top 1px solid gray-color
  padding-top 40px
  display none
  h2
    font-weight bold
    margin-top 15px
  .italicize
    font-style italic
  p
    line-height 1.5
    font-size 13px // switch to garamond
.columns
  -webkit-columns 2
  -moz-columns: 2
  columns: 2

.column-one > div, .column-two > div
  margin-bottom 40px

.column-one
  padding-bottom 40px

.column-two
  padding-top 55px

.claude-monet-container, .zhan-wang-container, .jeff-koons-container, .ding-yi-container
  width 100%

.section-two-text
  margin-bottom 40px

.section-two-text  p
  font-size 16px

.body-section-three-content p, .body-section-four-content p
  margin-bottom 60px
  line-height 1.5

.launch-app-store
  width 205px
  height 50px
  background-color #000
  color #fff
  border none
  avant-garde('l-headline', true)
  font-size 17px
  margin-bottom 40px
