@import '../stylus_lib'

.body-content-container
  padding-top 20px

.main-side-margin
  margin 0 20px

.body-section-title
  border-top 1px solid gray-color
  padding 20px 0
  avant-garde('l-headline', true)
  font-size 17px

.margin-bottom
  margin-bottom 40px

.body-section-content img
  width 100%
  margin-bottom 15px
  padding-top 40px

.body-section-content
  border-top 1px solid gray-color
  line-height 1.5
  display none
  avant-garde('m-headline', true)
  font-size 15px
  &:not(.margin-bottom)
    margin-bottom 60px

.vertical-rectangle
  width 100%
  height 205px

.small-rectangle
  width 100%
  height 135px

.body-section-content__section-two
  h2
    font-weight bold
    margin-top 15px
  .italicize
    font-style italic
  p
    line-height 1.5
    font-size 13px

.columns
  -webkit-columns 2
  -moz-columns: 2
  columns: 2

.column
  margin 0 5px

.staggered
  padding-top 200px
  margin-bottom 40px

.artist-container
  width 100%

.section-two-text p
  font-size 16px

.avant-garde-button-black:not(.mailto-partners)
  margin-bottom 20px

.body-section-sub-header
  font-weight bold
  margin-bottom 20px
  padding-top 20px

section:last-of-type h1.body-section-title
  border-bottom 1px solid gray-color

section:last-of-type .body-section-content
  border-top-style none

.format-spacing
  padding-bottom 20px

h1.body-section-title.is-desktop
  display none

@import 'desktop'