.carousel-track__image
  border-top 1px solid gray-color
  width 100%
  padding-top 40px
  height 255px
  position relative

figure.slide-images
  display none
  width 100%
  position absolute
  z-index 8
  margin 0px

figure.slide-images img
  width 100%

.carousel-track__image .slideshow-is-active
  display block
  z-index 10