doctype html
html( lang="zh" )
  head
    title Artsy
    meta( name="viewport" content="width=device-width" initial-scale="1" )
    meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
    include fonts.html
    link( rel='stylesheet' type='text/css' href='index.css' )

  body
    header.header.header-banner-3.active-banner
    header.header.header-banner-1
    header.header.header-banner-2
      //- Rendered client-side

    .body-content-container.main-side-margin
      //- Rendered client-side

    footer.footer
      //- Rendered client-side

    script( src='index.js' )
