doctype html
html( lang="zh" )
  head
    title Artsy
    meta( name="viewport" content="width=device-width" initial-scale="1" )
    meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
    link( rel='stylesheet' type='text/css' href='index.css' )
  body
    header.header
    include ../body/index.jade
    footer.footer
    //- include ../footer/index.jade
    script( src='index.js' )