doctype html
html( lang="zh" )
  head
    title Artsy
    meta( name="viewport" content="width=device-width" initial-scale="1" )
    meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
    include fonts.html
    link( rel='stylesheet' type='text/css' href='index.css' )
    link( rel='icon' type='image/png' href='images/favicon.ico' )
    meta(property="og:title" content="Artsy - Discover, Research, and Collect the World's Best Art Online")
    meta(name="description" content="Artsy is the online resource for art collecting and education. Discover, learn about, and buy art you'll love, featuring fine art, design, and photography from leading galleries, museums, art fairs, and auctions")
    meta(property="og:description" content="Artsy is the online resource for art collecting and education. Discover, learn about, and buy art you'll love, featuring fine art, design, and photography from leading galleries, museums, art fairs, and auctions")
    meta(property="twitter:description" content="Artsy is the online resource for art collecting and education. Discover, learn about, and buy art you'll love, featuring fine art, design, and photography from leading galleries, museums, art fairs, and auctions")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Artsy")
    meta(property="og:url" content="www.artsy.cn")
    meta(property="og:image" content="/images/og_image.jpg")
    meta(property="twitter:card" content="summary")


  body

    header
      //- Rendered client-side

    .body-content-container.main-side-margin
      //- Rendered client-side

    footer.footer
      //- Rendered client-side

    script( src='index.js' )
