@import '../../node_modules/nib'
@import '../header'
@import '../footer'
@import '../body'

global-reset()

// button style
.avant-garde-button-black
  width 200px
  height 50px
  background-color #000
  color #fff
  border none
  avant-garde('l-headline', true)
  font-size 17px
  margin-top 20px
  margin-bottom 40px