//
// A library of mixins and variables commonly used throughout stylesheets.
//

@import './typography'

// Colors

gray-lightest-color = #efefef
gray-lighter-color = #e5e5e5
gray-color = #cccccc
gray-dark-color = #999999
gray-darker-color = #666666
gray-darkest-color = #333333
purple-light-color = #b179d4
purple-color = #6a0bc1
