.header {
  background: #c44;
  height: 350px;
  position: relative;
}
.header nav {
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #fff;
}
.header svg {
  padding: 10px;
}
.header svg polygon,
.header svg path {
  fill: #fff;
}
.header-language-toggle {
  float: right;
  margin: 15px;
}
.header-chinese {
  width: 40px;
  height: 30px;
  border: 1px solid #fff;
  display: inline-block;
  margin-left: 16px;
}
.header-text {
  margin: 20px;
  font-size: 21px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header-text h1 {
  margin: 30px 0;
  color: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  color: #00f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
