.header {
  height: 350px;
  position: relative;
  background-image: url("./images/Banner_3.jpg");
  background-position: center;
  -webkit-background-size: 526px;
  -moz-background-size: 526px;
  background-size: 526px;
}
.header nav {
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #fff;
}
.header svg {
  padding: 10px;
}
.header svg polygon,
.header svg path {
  fill: #fff;
}
.header-language-toggle {
  float: right;
  margin: 15px;
}
.header-chinese {
  width: 40px;
  height: 30px;
  border: 1px solid #fff;
  display: inline-block;
  margin-left: 16px;
}
.header-text {
  margin: 20px;
  font-size: 17px;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.header-text h1 {
  margin: 30px 0;
  color: #fff;
}
footer.footer {
  width: 100%;
}
.footer-logo {
  margin: 60px 0 30px 0;
  text-align: center;
}
.footer-content {
  text-align: center;
  padding-bottom: 10px;
}
.footer-content p {
  margin-bottom: 20px;
}
.footer svg {
  width: 140px;
}
.footer-contact-email {
  text-decoration: underline;
}
.footer-email {
  text-decoration: none;
  color: #000;
}
.main-content-container {
  padding-top: 20px;
}
.main-side-margin {
  margin: 0 20px;
}
.section-title {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
.last-border {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.section-one-content img {
  width: 100%;
  margin-bottom: 15px;
}
.section-one-content {
  padding-top: 40px;
  margin-bottom: 60px;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  display: none;
}
.vertical-rectangle {
  width: 100%;
  height: 205px;
}
.small-rectangle {
  width: 100%;
  height: 135px;
}
.section-two-content {
  border-top: 1px solid #ccc;
  padding-top: 40px;
  display: none;
}
.section-two-content h2 {
  font-weight: bold;
  margin-top: 15px;
}
.section-two-content .italicize {
  font-style: italic;
}
.section-two-content p {
  line-height: 1.5;
  font-size: 13px;
}
.columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.column-one > div,
.column-two > div {
  margin-bottom: 40px;
}
.column-one {
  padding-bottom: 40px;
}
.column-two {
  padding-top: 55px;
}
.claude-monet-container,
.zhan-wang-container,
.jeff-koons-container,
.ding-yi-container {
  width: 100%;
}
.section-two-text {
  margin-bottom: 40px;
}
.section-two-text p {
  font-size: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
