footer.footer
  .footer-logo
    include ../header/public/logotype.svg
  .footer-content
    p 查詢更多加盟詳情

    a.footer-email(href='mailto:#{partners@artsy.net}')
      p 請電郵至 #[span.footer-contact-email partners@artsy.net]
