nav.navigation
  .artsy-logo: include ./public/logotype.svg

  .nav-items
    a.nav-item.is-mobile-artsy-link( href='https://www.artsy.net' )
      | Visit Artsy.net
    a.nav-item.is-active.js-language-toggle( href='#', data-language='traditional' )
      | 繁
    a.nav-item.js-language-toggle( href='#', data-language='simplified' )
      | 简
